
[data-theme="dark"], :root {
  --font-color: #fff;
  --primary-color: #56B6C2;
  --bg-color: #173C41;
  --os-color: #fff;
  --navbar-color: black;
  --filter-brightness: brightness(100%);
  --transition-duration: 200ms;
}

[data-theme="light"] {
  --font-color: #000;
  --primary-color: #56B6C2;
  --bg-color: #c4c4c4;
  --os-color: black;
  --navbar-color: white;
  --filter-brightness: brightness(0%);
}

body {
  font-family: 'Roobert' !important;
  transition-duration: var(--transition-duration) !important;
  color: var(--font-color) !important;
  background-color: var(--bg-color) !important;
}

.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
  background: var(--os-color) !important;
}

.dd-head {
  color: var(--primary-color) !important;
}

.navbar {
  box-shadow: 0px 0px 10px black !important;
  z-index: 100 !important;
  color: var(--font-color) !important;
  background: var(--navbar-color) !important;
}

.theme-switch-wrapper {
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .1s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .1s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.dd-landing {
  text-align: right;
}

.dd-mas {
  width: 25%;
  float: left;
  word-wrap: break-word;
  pointer-events: none;
}

.dd-landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px;
  width: 100%;
}

.noty_theme__sunset.noty_type__alert, .noty_theme__sunset.noty_type__notification {
  background-color: #38666B !important;
  border-radius: 5px !important;
}

.noty_theme__sunset.noty_type__alert .noty_progressbar, .noty_theme__sunset.noty_type__notification .noty_progressbar {
  border-radius: 5px !important;
  background-color: black !important;
  opacity: .8 !important;
  overflow: hidden !important;
}

.hamburger {
  color: white !important;
}

.socials-container {
  display: flex;
  justify-content: center;
  font-size: 1.69em;
}

.navbar a {
  margin-left: 4px;
  margin-right: 4px;
  color: var(--font-color) !important;
  transition-duration: var(--transition-duration) !important;
}

.navbar-brand {
  width: 50px;
  filter: var(--filter-brightness) !important;
  height: 50px;
  padding-top: 0 !important;
  padding-left: 0 !important;
  pointer-events: none !important;
}

.nav-link:hover {
  transform: translateY(-5px);
  transition-timing-function: cubic-bezier(1,0,0,1);
  transition: 300ms;
}

.nav-link {
  transition-timing-function: cubic-bezier(1,0,0,1);
  transition: 300ms;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.nav-item:hover .active:hover {
  transform: translateY(0)
}

.socials {
  display: flex;
  align-items: center;
}

.hamburger--slider .hamburger-inner::before {
  border-radius: 3px !important;
}

.nav-link {
  border-radius: 2px
}

.mixer-icon {
  width: 26px;
  height: 26px;
  transition: var(--transition-duration) !important;
  filter: var(--filter-brightness) !important;
}

.kofi-icon {
  width: 36px;
  height: 36px;
  filter: var(--filter-brightness) !important;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 30px!important;
  height: 2px!important;
  border-radius: 3px!important;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1);
  transition-duration: .3s!important;
  background-color: #fff!important
}

.hamburger-box {
  display: flex!important;
  justify-content: center!important
}

@media (max-width: 576px) {
  .socials-container {
    float: none;
  }
  .dd-landing-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -250px !important;
    width: 100%;
    height: 250% !important;
  }
  .dd-mas {
    width: 100%;
    float: left;
    pointer-events: none;
  }
  .dd-mas-container {
  width: 100%;
  margin-top: 30px;
  }
  .theme-switch-wrapper {
    justify-content: center;
  }
  .welcome, .paragraph {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .socials-container {
    text-align: center;
  }
}

@media (max-width : 991px) {
  .socials-container {
    text-align: center;
    width: 100%;
  }
  .theme-switch-wrapper {
    justify-content: center;
  }
}
