<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img src="static/images/logos/logo_dd.svg">
    </a>
    <button class="navbar-toggler hamburger hamburger--slider" type="button" data-toggle="collapse" data-target="#ddNavbarToggle" aria-controls="#ddNavbarToggle" aria-expanded="false">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="ddNavbarToggle">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-dark" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-dark" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-dark" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-dark" href="#">Servers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-dark" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-dark" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown"></li>
        </ul>
        <div class="dd-social-ts-container float-right">
        </div>
        <div class="nav-item socials-container">
          <span class="socials">
            <a class="social-icon" href="http://www.youtube.com/DigiDuncan"><i class="fab fa-youtube-square"></i></a>
            <a class="social-icon" href="http://www.mixer.com/DigiDuncan"><img class="mixer-icon" src="static/images/logos/mixer.svg"></a>
            <a class="social-icon" href="http://www.github.com/DigiDuncan"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="http://www.twitter.com/DigiDuncan"><i class="fab fa-twitter"></i></a>
            <a class="social-icon"><i id="CTC" onclick="CopyPaste()" data-clipboard-text="DigiDuncan#4979" class="fab fa-discord"></i></a>
            <a class="social-icon" href="http://donate.digiduncan.com/"><i class="fab fa-paypal"></i></a>
          </span>
        </div>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
        </div>
    </div>
</nav>
